@using cheapdscin.Resources
@{

}

<header class="header-image ken-burn-center" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src="/themekit/media/hd-empty.png" data-offset="0">
	<div class="container">
		<h1>@Get.Content("AboutUs_Title", "About Us")</h1>
		<h2>@Get.Content("AboutUs_SubTitle", "Only Place to get all digital Signature Product at cheap price with best service in India.")</h2>
	</div>
</header>

<main>
	<section class="section-base">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>@Get.Content("AboutUs_ContentLine1", "AboutUs_ContentLine1")</p>
					<p>@Get.Content("AboutUs_ContentLine2", "AboutUs_ContentLine2")</p>
					<p>@Get.Content("AboutUs_ContentLine3", "AboutUs_ContentLine3")</p>
					<p>@Get.Content("AboutUs_ContentLine4", "AboutUs_ContentLine4")</p>					
				</div>
			</div>
		</div>
	</section>
	<section class="section-image" data-parallax="scroll" data-bleed="100" data-image-src="media/hd-empty.png">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter counter-vertical counter-icon">
						<div>
							<h3>Client Count</h3>
							<p class="text-md">15,000+</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div>
						<h3>2022 Sales</h3>
						<p class="text-md">8,000+</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div>
						<h3>2022 Renewals</h3>
						<p class="text-md">3500+</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div>
						<h3>Lowest Price</h3>
						<p class="text-md">312*</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-base">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<p><strong>What we Offer:</strong> e-Solutions offers PKI Solutions like Digital Signature Certificates, eSign Services, Document Signer Certificate, Code Signing Certificates, Signing Certificates, Encryption Certificates.</p>
					<p>
						<strong>History:</strong> Cheap DSC was established in 2017 in Chennai to serve Digital Signature Certificates to various clients.
					</p>
					<p>
						<strong>Mission:</strong> To help customers in transact securly over the web with his/her unique identify.
					</p>
					<p>
						<strong>Values:</strong> Leading change, Integrity, Respect for the individual, Excellence, Learning and sharing.
					</p>
					<p>
						<strong>Certifications:</strong> Recognized & Licensed Registration Authority ( RA) Under e-Mudhra Limited
					</p>
					<p>
						<strong>WHY Cheap DSC:</strong> 5+ Years of Experience | Recognized RA | 70 + Associates | 50k+ DSC ISSUED | Team of Professionals
					</p>
				</div>
				<div class="col-lg-4">
					<ul class="text-list text-list-line">
						<li><b>Business Name</b><hr /><p>Cheap Dsc</p></li>
						<li><b>Address</b><hr /><p>All India</p></li>
						<li><b>Servicing Area</b><hr /><p>Any Pincode</p></li>
						<li><b>Parent Cmp</b><hr /><p>C2C VENTURE PVT LTD</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

</main>