@using cheapdscin.Resources
@{

}

<header class="header-image ken-burn-center" data-parallax="true" data-natural-height="1080" data-natural-width="1920" data-bleed="0" data-image-src='@cheapdscin.Helper.LoadCdn("/Page/HomeSlider/Banner1.jpg")' data-offset="0">
	<div class="container">
		<h1>@Get.Content("AboutUs_Title", "About Us")</h1>
		<h2>@Get.Content("AboutUs_SubTitle", "Only Place to get all digital Signature Product at cheap price with best service in India.")</h2>
	</div>
</header>

<main>
	<section class="section-base">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>@Get.Content("AboutUs_ContentLine1", "AboutUs_ContentLine1")</p>
					<p>@Get.Content("AboutUs_ContentLine2", "AboutUs_ContentLine2")</p>
					<p>@Get.Content("AboutUs_ContentLine3", "AboutUs_ContentLine3")</p>
					<p>@Get.Content("AboutUs_ContentLine4", "AboutUs_ContentLine4")</p>					
				</div>
			</div>
		</div>
	</section>
	<section class="section-image" data-parallax="scroll" data-bleed="100" data-image-src="media/hd-empty.png">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="counter counter-vertical counter-icon">
						<div>
							<h3>@Get.Content("ClientCount", "Client Count")</h3>
							<p class="text-md">15,000+</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div>
						<h3>2022 @Get.Content("Sales", "Sales")</h3>
						<p class="text-md">8,000+</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div>
						<h3>2022 @Get.Content("Renewals", "Renewals")</h3>
						<p class="text-md">3500+</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div>
						<h3>@Get.Content("LowestPrice", "Lowest Price")</h3>
						<p class="text-md">312*</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-base">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<p><strong>@Get.Content("AboutUs_What we Offer", "What we Offer"): </strong> @Get.Content("AboutUs_Statement1", "")</p>
					<p>
						<strong>@Get.Content("History", "History"): </strong> @Get.Content("AboutUs_Statement2", "")
					</p>
					<p>
						<strong>@Get.Content("Mission", "Mission"): </strong>  @Get.Content("AboutUs_Statement3", "")
					</p>
					<p>
						<strong>@Get.Content("Values", "Values"): </strong>  @Get.Content("AboutUs_Statement4", "")
					</p>
					<p>
						<strong>@Get.Content("Certifications", "Certifications"): </strong>  @Get.Content("AboutUs_Statement5", "")
					</p>
					<p>
						<strong>@Get.Content("WHY Cheap DSC", "WHY Cheap DSC"):</strong>  @Get.Content("AboutUs_Statement6", "")
					</p>
				</div>
				<div class="col-lg-4">
					<ul class="text-list text-list-line">
						<li><b> @Get.Content("Business Name", "Business Name")</b><hr /><p>@Get.Content("Cheap Dsc", "Cheap Dsc")</p></li>
						<li><b>@Get.Content("Address", "Address")</b><hr /><p>@Get.Content("All India", "All India")</p></li>
						<li><b>@Get.Content("Servicing Area", "Servicing Area")</b><hr /><p>Any Pincode</p></li>
						<li><b>@Get.Content("Parent Cmp", "Parent Cmp")</b><hr /><p>C2C VENTURE PVT LTD</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>

</main>