@using cheapdscin.Resources
<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h3>Cheap Dsc</h3>
				<p>@Get.Content("Footer_Description", "One Stop Place for All Digital Signature Certificate, DGFT, Usb Token at cheap price with best service.")</p>
			</div>
			<div class="col-lg-4">
				<h3>@Get.Content("Footer_HowToReachUs", "How to Reach Us")</h3>
				<ul class="icon-list icon-line">
					<li>@Get.Content("Footer_AllOverIndia", "All Over India")</li>
					<li>enquiry@cheapdsc.com</li>
					<li>+91-9445 9446 01</li>
				</ul>
			</div>
			<div class="col-lg-4">
				<div class="icon-links">
					@Html.Partial("NewTheme/_SocialShare")
				</div>
				<hr class="space-sm" />
				<p>@Get.Content("Footer_FollowUsOnSocial", "Follow Us on Above Social Media Platform")</p>
			</div>
		</div>
	</div>
	<div class="footer-bar">
		<div class="container">
			<span>@Get.Content("Footer_CopyRights", "© 2023 cheapdsc.com Designed & Developed by") <a href="https://kgetechnologies.com" target="_blank">Kgetechnologies Pvt Ltd</a>.</span>
			<span><a href="/ContactUs?ref=FooterMenu">@Get.Content("Footer_ContactUs", "Contact us")</a> | <a href="/privacyPolicy?ref=FooterMenu">@Get.Content("Footer_PrivacyPolicy", "Privacy policy")</a></span>
		</div>
	</div>
	<link rel="stylesheet" href='@cheapdscin.Helper.LoadCdn("/themekit/media/icons/iconsmind/line-icons.min.css")'>
	<script src="/themekit/scripts/parallax.min.js"></script>
	<script src="/themekit/scripts/glide.min.js"></script>
	<script src="/themekit/scripts/progress.js"></script>
	<script src="/themekit/scripts/tab-accordion.js"></script>
	<script src="/themekit/scripts/magnific-popup.min.js"></script>
	<script src="/themekit/scripts/pagination.min.js"></script>
	<script src="/themekit/scripts/contact-form/contact-form.js"></script>
	<script src="/themekit/scripts/maps.min.js"></script>
	@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuT3KBsP1x15YfMXhwim_7g8p3TJReH7g"></script>*@

</footer>
