<!--<body>


	<header id="header">
		<div class="d-flex site-top site-text">
			<span> <i class='fa fa-phone'></i><a class="site-text-tel" href="tel:+91-9445944601">+91- 9445 9446 01</a></span>
			<span class="cash-pie">|</span>
			<span> <i class='fab fa-whatsapp'></i><a class="site-text-tel" href="https://wa.me/919445944601?text=Reg%20Cheap%20Dsc" target="_blank">+91- 9445 9446 01</a></span>
			<span class="cash-pie">|</span>
			<span><i class="fa fa-envelope"></i><a class="site-text-email" href="mailto:enquiry@cheapdsc.com">enquiry@cheapdsc.com</a></span>

		</div>-->
		<!-- navbar for webpage -->
		<!--<nav class="navbar navbar-expand-lg">
			<div class="container">-->
				<!-- navbar brand image on navbar -->
				<!--<a class="navbar-brand mr-auto" href="/">
					<img class="lazy" data-lazysrc1="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png"
						 height="60" width="200" alt="Credit Card to Cash">
				</a>-->

				<!-- collapse button in navbar -->
				<!--<button class="navbar-toggler site-top" type="button" data-toggle="collapse" data-target="#Navbar">
					<span class="fa fa-regular fa-bars"></span>
				</button>

				<div class="collapse navbar-collapse" id="Navbar">
					<ul class="navbar-nav ml-auto">-->
						<!-- navbar list -->
						<!--<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item active"><a class="nav-link" href="/">Why Us</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Services" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Products
								<i class="fa fa-angle-down" style="margin: 0 0 0 5px; color: black"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown-Services">
								<a class="dropdown-item" href="~/Product/CheapClass3Dsc">Class 3 Dsc</a>
								<a class="dropdown-item" href="~/Product/CheapDgft">DGFT</a>
								<a class="dropdown-item" href="~/Product/CheapUsbToken">USB Auto Token</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-Products" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Coverages
								<i class="fa fa-angle-down" style="margin: 0 0 0 5px; color: black"></i>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown-Products">
								@foreach (var eachState in cheapdscin.Helper.States)//StatesGroupedByAlphabet to have 2 level menu
								{
									<a class="dropdown-item" href="~/cheap-Class-3-dsc-in-@eachState.Key">@eachState.Value</a>
								}
							</div>
						</li>
						<li class="nav-item"><a class="nav-link" href="~/about">About</a></li>
						<li class="nav-item"><a class="nav-link" href="~/contact">Contact</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>-->







<html>
<head>
	@Html.Partial("_Seo")
	<script src="/themekit/scripts/jquery.min.js"></script>
	<script src="/themekit/scripts/main.js"></script>
	<link rel="stylesheet" href="/themekit/css/bootstrap-grid.css">
	<link rel="stylesheet" href="/themekit/css/style.css">
	<link rel="stylesheet" href="/themekit/css/glide.css">
	<link rel="stylesheet" href="/themekit/css/magnific-popup.css">
	<link rel="stylesheet" href="/themekit/css/content-box.css">
	<link rel="stylesheet" href="/themekit/css/media-box.css">
	<link rel="stylesheet" href="/themekit/css/contact-form.css">
	<link rel="stylesheet" href="/themekit/css/skin.css">
	<link rel="icon" href="/themekit/media/favicon.png">
</head>
<body>
	<div id="preloader"></div>
	@Html.Partial("NewTheme/_Nav")
		@RenderBody()
	
	@Html.Partial("NewTheme/_Footer")
</body>
</html>
<script>
	function ReLoadImages() {
		setTimeout(() => {
			$('img[data-lazysrc1]').each(function () {
				$(this).attr('src', $(this).attr('data-lazysrc1'));
				$(this).removeAttr('data-lazysrc1');
			})
		}, 40);
	}
	$(document).ready(ReLoadImages);
</script>