@using cheapdscin.Resources
<nav class="menu-classic menu-fixed" data-menu-anima="fade-in">
	<div class="menu-mini scroll-hide">
		<div class="container">
			<ul class="menu-full-width">
				<li><i class="im-phone"></i>9445 9446 01</li>				
				<li class="mobile-d-none"><i class="im-envelope"></i>enquiry@cheapdsc.com</li>
				@*<li class="dropdown mt-2 float-right">
			<a href="#">EN</a>
			<ul>
				<li><a href="#">அஆ</a></li>
				<li><a href="#">अआ</a></li>
			</ul>
		</li>*@
				<li class="icon-links mt--7 float-right">
					@Html.Partial("NewTheme/_SocialShare")
				</li>

			</ul>
            <i class="menu-btn pb-41"></i>
		</div>
	</div>
	<div class="container">
		<div class="menu-brand">
			<a href="/">
				<img class="logo-default" src="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png" alt="Cheap Dsc Logo" />
				<img class="logo-retina" src="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png" alt="Cheap Dsc Logo" />
			</a>
		</div>
		
		<div class="menu-cnt">
			<ul>
				<li>
					<a href="/?ref=mainMenu">@Get.Content("Menu_Home","Home")</a>
				</li>
				<li class="dropdown">
					<a href="#">@Get.Content("Menu_Products", "Products")</a>
					<ul>
						<li class="dropdown">
							<a href="/cheap-Class-3-dsc-in-india">Class 3 Signature</a>
                               <ul class="dropdown position-slide">
                                     <li><a  href="#">Individual</a></li>
                                     <li><a href="#">Organization</a></li>
                               </ul>
						</li>
						<li><a href="/cheap-dgft-in-India">DGFT</a></li>												
						<li><a href="/cheap-usb-token-in-India">@Get.Content("Menu_UsbToken", "Usb Token")</a></li>
					</ul>
				</li>


				<li class="mega-dropdown">
					<a href="#">@Get.Content("Menu_ServicingAreas", "Servicing Areas")</a>
					<div class="mega-menu fade-in" style="transition-duration: 0ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;">
						<div class="col">
							<h5></h5>
							<ul class="icon-list">
								@{ int count = 1;}
								@foreach (var eachState in cheapdscin.Helper.StatesGroupedByAlphabet)//StatesGroupedByAlphabet to have 2 level menu
								{
									foreach (var _location in eachState.Locations)
									{
										<li><i class="im-paper-plane"></i> <a href="/Class-3-dsc-in-@_location.Key">@_location.Value</a></li>
										count = count + 1;

										if (count == 10 || count == 19 || count == 28)
										{
											@Html.Raw("</ul></div><div class=\"col\"><h5></h5><ul class=\"icon-list\">")
										}
									}
								}
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="/AboutUs?ref=mainMenu">@Get.Content("Menu_AboutUs", "About Us")</a>
				</li>
				<li>
					<a href="/ContactUs?ref=mainMenu">@Get.Content("Menu_ContactUs", "Contact Us")</a>
				</li>

			</ul>
			<div class="clear"></div>
		</div>
	</div>
</nav>
