@using cheapdscin.Resources
<nav class="menu-classic menu-fixed" data-menu-anima="fade-in">
	<div class="menu-mini scroll-hide">
		<div class="container">
			<ul>
				<li><i class="im-phone"></i>(044)22416011</li>				
				<li><i class="im-envelope"></i>enquiry@cheapdsc.com</li>
			</ul>
			<div class="menu-right">
				<div class="icon-links icon-social social-colors-hover">
					<a target="_blank" class="facebook" href="https://www.facebook.com/cheapdsc?ref=cheapdsc.com"><i class="icon-facebook"></i></a>
					<a target="_blank" class="twitter" href="https://www.twitter.com/cheapdsc?ref=cheapdsc.com"><i class="icon-twitter"></i></a>
					<a target="_blank" class="linkedin" href="https://www.linkedin.com/company/cheap-dsc?ref=cheapdsc.com"><i class="icon-linkedin"></i></a>
				</div>
				<ul class="lan-menu">
					<li class="dropdown">
						<a href="#">EN</a>
						<ul>
							<li><a href="#">அஆ</a></li>
							<li><a href="#">अआ</a></li>						
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="menu-brand">
			<a href="#">
				<img class="logo-default" src="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png" alt="logo" />
				<img class="logo-retina" src="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png" alt="logo" />
			</a>
		</div>
		<i class="menu-btn"></i>
		<div class="menu-cnt">
			<ul>
				<li>
					<a href="/?ref=mainMenu">@Get.Content("Menu_Home","Home1")</a>
				</li>
				<li class="dropdown">
					<a href="#">@Get.Content("Menu_Products", "Products")</a>
					<ul>
						<li class="dropdown-submenu">
							<a>@Get.Content("Menu_Class3", "Class 3")</a>
							<ul>
								<li class="dropdown-submenu">
									<a href="#">@Get.Content("Menu_Individual", "Individual")</a>
									<ul>
										<li><a href="/cheap-class3-individual-signature">@Get.Content("Menu_Signature", "Signature")</a></li>
										<li><a href="#">@Get.Content("Menu_SignatureWithToken", "Signature With Usb Token")</a></li>
										<li><a href="#">@Get.Content("Menu_Encryption", "Encryption")</a></li>
										<li><a href="#">@Get.Content("Menu_EncryptionWithUsbToken", "Encryption With Usb Token")</a></li>
										<li><a href="#">@Get.Content("Menu_Combo", "Combo")</a></li>
										<li><a href="#">@Get.Content("Menu_ComboWithUsbToken", "Combo With Usb Token")</a></li>

									</ul>
								</li>
								<li class="dropdown-submenu">
									<a href="#">@Get.Content("Menu_Organisation", "Organisation")</a>
									<ul>
										<li><a href="/cheap-class3-organisation-signature">@Get.Content("Menu_Signature", "Signature")</a></li>
										<li><a href="#">@Get.Content("Menu_SignatureWithToken", "Signature With Usb Token")</a></li>
										<li><a href="#">@Get.Content("Menu_Encryption", "Encryption")</a></li>
										<li><a href="#">@Get.Content("Menu_EncryptionWithUsbToken", "Encryption With Usb Token")</a></li>
										<li><a href="#">@Get.Content("Menu_Combo", "Combo")</a></li>
										<li><a href="#">@Get.Content("Menu_ComboWithUsbToken", "Combo With Usb Token")</a></li>

									</ul>
								</li>
							</ul>
						</li>
						<li class="dropdown-submenu">
							<a>@Get.Content("Menu_ImportAndExport", "Import & Export")</a>
							<ul>
								<li><a href="#">@Get.Content("Menu_DGFTCertificate", "DGFT Certificate")</a></li>
								<li><a href="#">@Get.Content("Menu_DGFTWithUsbToken", "DGFT With Usb Token")</a></li>
							</ul>
						</li>
						<li><a href="#">@Get.Content("Menu_UsbToken", "Usb Token")</a></li>
					</ul>
				</li>


				<li class="mega-dropdown">
					<a href="#">@Get.Content("Menu_ServicingAreas", "Servicing Areas")</a>
					<div class="mega-menu fade-in" style="transition-duration: 0ms; animation-duration: 500ms; transition-timing-function: ease; transition-delay: 0ms;">
						<div class="col">
							<h5></h5>
							<ul class="icon-list">
								@{ int count = 1;}
								@foreach (var eachState in cheapdscin.Helper.StatesGroupedByAlphabet)//StatesGroupedByAlphabet to have 2 level menu
								{
									foreach (var _location in eachState.Locations)
									{
										<li><i class="im-paper-plane"></i> <a href="/Class-3-dsc-in-@_location.Key">@_location.Value</a></li>
										count = count + 1;

										if (count == 10 || count == 19 || count == 28)
										{
											@Html.Raw("</ul></div><div class=\"col\"><h5></h5><ul class=\"icon-list\">")
										}
									}
								}
							</ul>
						</div>
					</div>
				</li>
				<li>
					<a href="/AboutUs?ref=mainMenu">@Get.Content("Menu_AboutUs", "About Us")</a>
				</li>
				<li>
					<a href="/ContactUs?ref=mainMenu">@Get.Content("Menu_ContactUs", "Contact Us")</a>
				</li>

			</ul>
			<div class="clear"></div>
		</div>
	</div>
</nav>
