@{

	var desc = ViewBag.desc ?? "Cheap Class 3 DSC | Cheap DGFT DSC";
	var Title = ViewBag.Title ?? "Cheap Class 3 DSC | Cheap DGFT DSC";

}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="robots" content="index, follow" />
<meta name=generator content="cheapdsc.com" />
<meta http-equiv=Content-Type content="text/html; charset=UTF-8" />

<title>@Title</title>
<meta name="description" content="@desc" />
<meta name="keywords" content="@Title" />
<meta name="author" content="Cheap DSC" />
<meta name=title content="@Title">
<meta itemprop=name content="@Title">
<meta itemprop=Authors content="Cheap DSC" />
<meta itemprop=description content="@desc" />
<meta itemprop="image" content="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Ads/ad1.png">
<meta property=article:section content="@Title" />
<meta property=article:published_time content="@DateTime.UtcNow.AddDays(-1).ToString("yyyy-MM-ddT00:00:00+00:00")" />
<meta property=article:modified_time content="@DateTime.UtcNow.AddDays(-1).ToString("yyyy-MM-ddT00:00:00+00:00")" />
<meta property=article:author content="Cheap DSC" />
<meta property=article:tag content="@desc" />

<!-- OG Tags -->
<meta property="og:url" content="https://www.cheapdsc.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="@Title">
<meta property="og:description" content="@desc" />
<meta property="og:image" content="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Ads/ad1.png">
<meta property="og:image:secure_url" content="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Ads/ad1.png" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1191" />
<meta property="og:image:height" content="842" />
<meta property="og:image:alt" content="@Title" />
<meta property="og:site_name" content="@Title" />
<meta property=fb:admins content=129308161414100 />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="@Title">
<meta name="twitter:description" content="@desc" />
<meta name="twitter:image" content="https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Ads/ad1.png">
<meta property="twitter:url" content="https://www.cheapdsc.com/@ViewBag.CanonicalUri">

<meta name="twitter:site" content="@Constants.TwitterSite">
<meta name="twitter:creator" content="@Constants.TwitterAuthor">

<link rel="canonical" href="https://www.cheapdsc.com/@ViewBag.CanonicalUri">


<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.cheapdsc.com/logo/apple.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.cheapdsc.com/logo/apple.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.cheapdsc.com/logo/apple.png">


<link href="https://cdn.cheapdsc.com/logo/apple.png" rel="apple-touch-icon">
<link href="https://cdn.cheapdsc.com/logo/72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="https://cdn.cheapdsc.com/logo/114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="https://cdn.cheapdsc.com/logo/144x144.png" rel="apple-touch-icon" sizes="144x144">

<script type="application/ld+json">
{
 "@Constants.Context" : "http://schema.org",
 "@Constants.type": "FinancialService",
  "name": "Cheap DSC",
  "alternateName": "Cheap Dsc",
  "url": "https://www.cheapdsc.com/@ViewBag.CanonicalUri",
 "sameAs" : [
  "https://twitter.com/cheapdsc?ref=@ViewBag.LinkValue",
  "https://www.facebook.com/cheapdsc?ref=@ViewBag.LinkValue",
  "https://www.indiamart.com/cheap-dsc//?ref=@ViewBag.LinkValue",
  @*"https://www.sulekha.com/credit-card-to-cash-guindy-chennai-contact-address?ref=@ViewBag.LinkValue",
  "https://www.justdial.com/Chennai/Credit-Card-to-Cash-Near-Railway-Station-Guindy/044PXX44-XX44-200801110524-P3R2_BZDET?ref=@ViewBag.LinkValue",
  "https://www.linkedin.com/company/credit-card-to-cash/?ref=@ViewBag.LinkValue",
  "https://in.pinterest.com/creditcardtocash/?ref=@ViewBag.LinkValue"*@
  ],
 "address": {
 "@Constants.type": "PostalAddress",
 "streetAddress": "Guduvanchery",
 "addressLocality": "Chennai",
 "addressRegion": "Chennai",
 "postalCode": "603202",
 "addressCountry": "IN"
 },
 "aggregateRating": {
  "@Constants.type": "AggregateRating",
  "ratingValue": "10",
  "bestRating": "10",
  "worstRating": "0",
  "ratingCount": "6126"
 },
 "priceRange":"₹1 - ₹10,00,000",
 "telephone": "+91- 9445 9446 01",
 "image": "https://raw.githubusercontent.com/kgetechnologies/cdn.cheapdsc.com/main/Logo/Logo.png",
 "openingHours": "Mo, Tu, We, Th, Fr, Sa, Su",
 "paymentAccepted":"Visa Credit Card, Master Credit Card, American Express Credit Card, Diner Club Credit Card",
 "knowsLanguage":"English, Tamil",
 "areaServed":"@ViewBag.DisplayName"
}
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110204526-1"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-110204526-1');
</script>